* {
    /* border: 0.2px red solid; */
    font-family: 'Audiowide', cursive;
}

.bg1 {
    background: url('../images/background.jpg') no-repeat center top fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.bg2 {
    background: url('../images/background2.jpg') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.div_gif {
    position: relative;
}

.div_gif:hover .add_favorite {
    opacity: 1;
    transition: opacity .5s ease-in-out;
}

.add_favorite {
    opacity: 0;
    transition: opacity .25s ease-in-out;
    color: yellow;
    font-size:300%;
    position: absolute;
}

.add_favorite:hover {
    cursor: pointer;
}

.unfavorite {
    opacity: 1;
    font-size:300%;
    color: red;
    position: absolute;
}

.unfavorite:hover {
    cursor: pointer;
}

.rating {
    color: white;
}

#label1 {
    color: white;
}

@media (min-width: 992px) {
    #div_form {
        top: 50%;
        right: 0;
        position: fixed;
    }
}

@media (max-width: 991px) {

    #div_gifs, #div_favorites {
        min-height: 450px;
    }

    #row_main {
        position: relative;
    }

    #div_form {
        bottom: 0;
        right: 0;
        text-align: center;
        position: aboslute;
        margin: 0;
    }
}